.row_poster {
  width: calc(120px * 16 / 9);
  height: 120px;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}

.row_poster_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4vw;
  position: relative;
  z-index: -10;
}

.row_poster_logo {
  position: absolute;
  max-width: 70%;
  max-height: 30%;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px 5px #222);
}
